.background{
    background-color: transparent !important;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
}

.card p{
    max-width: 80ch !important;
}